:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: #f5f4fa;
  color: var(--primari-text-color);
  font-family: Roboto;
}
/* body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
} */

/* шапка  */

.page-header {
  background-color: var(--primary-bg-color);
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
}
.studio {
  color: #000000;
}
.link {
  color: var(--primari-text-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.contact-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* .contact-link-icon:hover,
.contact-link-icon:focus {
  color: var(--accent-color);
} */
/* секція 1 */
.hero,
.footer {
  background: #2f303a;
}

.hero-title {
  color: var(--primary-bg-color);
}

/* кнопка */
.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.button.secodary {
  color: var(--primari-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.button.secodary:hover,
.button.secodary:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* сеуція 2 */

/* секція 3 */
.section-title {
  color: var(--primari-text-color);
}
/* 4 */

.footer-link,
.footer-studio {
  color: var(--primary-bg-color);
  text-decoration: none;
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
